<footer class="footer">
    <div class="footer-contactme-icons">
        <ul class="footer-icons-list">
            <li>
                <a class="fadelink" href="mailto:mbinder@invand.com" target="_blank" rel="noopener" rel="nofollow" class="">
                <img src="images/mail.svg" alt="Email link">
                </a>
            </li>
            <li>
                <a class="fadelink" href="https://www.linkedin.com/in/max-binder-0111a2374/" target="_blank" rel="noopener" rel="nofollow" class="">
                    <img src="images/linkedin.svg" alt="LinkedIn link">
                </a>
            </li>
            <li>
                <a class="fadelink" href="https://www.instagram.com/max3ringbinder/" target="_blank" rel="noopener" rel="nofollow" class="">
                    <img src="images/instagram.svg" alt="Instagram link">
                </a>
            </li>
        </ul>
    </div>
    <div class="dark-mode">
        <img class="light" src="images/moon.svg" alt="light">
        <img class="dark" src="images/moon-fill.svg" alt="dark">
    </div>
</footer>