<header class="header">
    <div class="logo">
        <a class="fadelink" href="index.html"><img src="images/logo.png" alt="logo"></a>
    </div>
    <h1>Max's Curriculum Vitae</h1>
    <nav class="navigation" id="nav">
        <ul class="nav-list">
            <li id="navaboutme"><a href="index.html" class="menu-link"><img alt="about me" src="images/info.svg"><span class="menu-hover short-len--mod">About Me</span></a></li>
            <li id="navschools"><a href="schools.html" class="menu-link"><img alt="schools" src="images/school.svg"><span class="menu-hover">Schools</span></a></li>
            <li id="navmath"><a href="math.html" class="menu-link"><img alt="math" src="images/function.svg"><span class="menu-hover">Mathematics</span></a></li>
            <li id="navscience"><a href="science.html" class="menu-link"><img alt="science" src="images/atom.svg"><span class="menu-hover">Physics</span></a></li>
            <li id="navmusic"><a href="music.html" class="menu-link"><img alt="music" src="images/piano.svg"><span class="menu-hover">Music</span></a></li>
            <li id="navtheatre"><a href="theatre.html" class="menu-link"><img alt="theatre" src="images/theater.svg"><span class="menu-hover">Theatre</span></a></li>
            <li id="navcs"><a href="cs.html" class="menu-link"><img alt="cs" src="images/internet.svg"><span class="menu-hover long-len--mod">Computer Science</span></a></li>
            <li id="navcamps"><a href="camps.html" class="menu-link"><img alt="camps" src="images/sun.svg"><span class="menu-hover">Camps</span></a></li>
            <li id="navsports"><a href="sports.html" class="menu-link"><img alt="sports" src="images/judo.svg"><span class="menu-hover">Karate</span></a></li>
            <li id="navfundraising"><a href="volunteer.html" class="menu-link"><img alt="fundraising" src="images/fundraising.svg"><span class="menu-hover left--mod">Volunteering</span></a></li>
        </ul>
        <a href="javascript:void(0);" class="icon navbar">
            <div class="burger">
                <span class="burger-top"></span>
                <span class="burger-middle"></span>
                <span class="burger-bottom"></span>
            </div>
        </a>
    </nav>
</header>